
#title {
    font-size: 24px;
    margin: 0;
}

#seating-container {
    display: flex;
    flex-direction: column; /* Cambia a diseño de columna en pantallas más pequeñas */
    align-items: center;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgb(14, 6, 51);
    position: sticky;
    top: 0;
    transition: 0.7s;
    padding: 30px 30px;
    z-index: 20;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px; /* Establece el ancho máximo deseado */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.center-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
}

#seating-chart {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-gap: 10px;
    margin-right: 20px;
    background-image: url('ruta-de-la-magen.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
}

/* Estilos específicos para pantallas más pequeñas (menos de 600px de ancho) */
@media screen and (max-width: 600px) {
    #seating-container {
        flex-direction: column; /* Mantén el diseño de columna */
    }

    #seating-chart {
        grid-template-columns: repeat(4, 50px); /* Reduce el número de columnas */
    }
}

.seat {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(150deg, rgb(158, 219, 105), rgb(230, 161, 42), rgb(186, 87, 48), rgb(103, 147, 7));
    border: 2px solid #ecd9d9; 
    transition: all 0.4s ease;
    background-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 60%;
    
}

.seat.selected {
    background-image: linear-gradient(90deg, rgb(119, 12, 78), rgb(73, 206, 111), rgb(20, 75, 255), rgb(137, 181, 71));
    background-size: 300%;
    border-radius: 115px;
    color: #ffffff;
}

.booking-info {
    
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

#selected-seats-list {
    list-style-type: none;
    padding: 0;
}

#total-price {
    font-weight: bold;
}

#reserve-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor {
    display: flex;
    height: 10vh;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btn {
    position: relative;
    padding: 5px 47px;
    text-decoration: none;
    color: #efeded;
    letter-spacing: 15px;
    left: 0;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: left; /* Centrar horizontalmente el contenido */
    align-items: left; /* Centrar verticalmente el contenido */
    text-align: left; /* Centrar texto horizontalmente */
}

.btn-4::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 130%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(212, 61, 15), rgb(50, 4, 176), rgb(187, 190, 2), rgb(203, 7, 7));
    background-size: 300%;
    border-radius: 50px;
    z-index: -1;    
    transition: all 0.4s ease;
}

.btn-4:hover::after {
    background-position: 10%;
    filter: blur(60px);
}

.btn-4::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 130%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(120, 243, 58), rgb(255, 196, 19), rgb(251, 255, 20), rgb(255, 15, 15));
    background-size: 300%;
    border-radius: 50px;
    z-index: -1;
}

.btn-4:hover::before {
    background-position: 100%;
}