<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo-cine.ico">
    <title>Cine Sp4cex</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7318f088f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/estilos2.css">
    <link rel="stylesheet" href="css/style4.css">
    <script src="js/app.js" defer></script>
</head>
<body>
    <style>
        .avisos{
    display: grid;
}

.avisos .cards{
    display: flex;
}

.avisos .card{
    color: white;
    display: grid;
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-color: #003053;
}

.cronograma {
    background-color: rgba(255, 245, 157, 0.5);
    overflow-x: auto;
    color: white;
}
.cronograma th i{

    color: white;
}

.cronograma table{
    width: 100%;
    margin: 20px;
}

.cronograma table th{
    position: sticky;
    top: 0;
    height: 10px;
}

.cronograma table .titulos{
    background-color: #184463;
}

.cronograma table, .cronograma th, .cronograma td{
    border: 1px solid black;
    border-collapse: separate

}

.cronograma th, td{
    padding: 10px;
}


.avisos .card .card-body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    background-color: #52769e;
    padding: 20px;
}

.avisos .card .card-body h1{
    font-size: 40px;
    width: 100%;
    text-align: left;
}

.avisos .card .card-body h3{
    font-size: 20px;
}

.avisos .card .card-footer{
    position: relative;
    bottom: 3px;
}

.avisos .card .card-footer .card-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.avisos .card .card-footer .card-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
}


.avisos .card .card-footer .card-link:hover{
    font-size: 20px;
    color: #fff59d;
}

    </style>

<div th:replace="menu :: #menu-dashboard"></div>
<div style="margin-left: 17rem;">


        <section class="avisos">
            <div class="cards">
                <div class="card">
                    <div class="card-body">
                        <div class="texto">
                            <h1 class="card-title">3</h1> 
                            <h3 class="card-subtitle mb-2 text-body-secondary">Registros Marcados</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Mayor Info</a>
                    </div>
                  </div>
        
                <div class="card" >
                    <div class="card-body">
                        <div class="texto">
                            <h1 class="card-title">0</h1> 
                            <h3 class="card-subtitle mb-2 text-body-secondary">Registros Completados</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Mayor Info</a>
                    </div>
                </div>
        
                <div class="card" >
                    <div class="card-body">
                        <div class="texto">
                            <h1 class="card-title">3</h1> 
                            <h3 class="card-subtitle mb-2 text-body-secondary">Registros por Completar</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Mayor Info</a>
                    </div>
                </div>
        
                <div class="card " >
                    <div class="card-body">
                        <div class="texto">
                            <h1 class="card-title">3</h1> 
                            <h3 class="card-subtitle mb-2 text-body-secondary">usuarios sin marcar asistencia</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Mayor Info</a>
                    </div>
                </div>
            </div>
            
            <div class="cronograma">
                <table class="table">
                    <tr class="titulos">
                        <th>Personal</th>
                        <th>SÁ</th>
                        <th>DO</th>
                        <th>LU</th>
                        <th>MA</th>
                        <th>MI</th>
                        <th>JU</th>
                        <th>VI</th>
                        <th>SÁ</th>
                        <th>DO</th>
                        <th>LU</th>
                        <th>MA</th>
                        <th>MI</th>
                        <th>JU</th>
                        <th>VI</th>
                        <th>SÁ</th>
                        <th>DO</th>
                        <th>LU</th>
                        <th>MA</th>
                        <th>MI</th>
                        <th>JU</th>
                        <th>VI</th>
                        <th>SÁ</th>
                        <th>DO</th>
                        <th>LU</th>
                        <th>MA</th>
                        <th>MI</th>
                        <th>JU</th>
                        <th>VI</th>
                        <th>SÁ</th>
                        <th>DO</th>
                        <th>LU</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>01</th>
                        <th>02</th>
                        <th>03</th>
                        <th>04</th>
                        <th>05</th>
                        <th>06</th>
                        <th>07</th>
                        <th>08</th>
                        <th>09</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                    </tr>
                    <tr>
                        <th>Gabriel</th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                    </tr>
                    <tr>
                        <th>Jhon</th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                    </tr>
                    <tr>
                        <th>Jose</th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                    </tr>
                    <tr>
                        <th>Miguel</th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-t"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                    </tr>
                    <tr>
                        <th>Luis</th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Carlos</th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th><i class="fa-solid fa-x"></i></th>
                    </tr>
                </table>
            </div>
        

            <div class="cronograma-registro">
                <table class="table">
                    <tr class="titulos">
                        <th>Personal</th>
                        <th>ASISTENCIA</th>
                        <th>TARDANZAS</th>
                        <th>FALTAS</th>
                    </tr>
                    <tr>
                        <th>Gabriel Phoenix</th>
                        <th>26 <i class="fa-solid fa-check"></i></th>
                        <th>2 <i class="fa-solid fa-t"></i></th>
                        <th>4 <i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Jhon Michael</th>
                        <th>26 <i class="fa-solid fa-check"></i></th>
                        <th>2 <i class="fa-solid fa-t"></i></th>
                        <th>4 <i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Jose Espinosa</th>
                        <th>24 <i class="fa-solid fa-check"></i></th>
                        <th>1 <i class="fa-solid fa-t"></i></th>
                        <th>5 <i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Miguel Caceres</th>
                        <th>26 <i class="fa-solid fa-check"></i></th>
                        <th>1 <i class="fa-solid fa-t"></i></th>
                        <th>4 <i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Luis Merengues</th>
                        <th>24 <i class="fa-solid fa-check"></i></th>
                        <th>0 <i class="fa-solid fa-t"></i></th>
                        <th>6 <i class="fa-solid fa-x"></i></th>
                    </tr>
                    <tr>
                        <th>Carlos Sosa</th>
                        <th>16 <i class="fa-solid fa-check"></i></th>
                        <th>0 <i class="fa-solid fa-t"></i></th>
                        <th>15 <i class="fa-solid fa-x"></i></th>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    
    
</body>
</html>



