<div id="header" class="header">
    <img src="logo.png" alt="Logo-Cine-Sp4cex" class="logo">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap">
          <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  
    <h1 style="font-family: 'Dela Gothic One';">Cine Sp4cex</h1>
    <nav>
          <ul>
            <li><a class="desplazar" href="#" style="font-family: 'Press Start 2P';">Inicio</a></li>
            <li><a th:href="@{/dulceria}" href="" style="font-family: 'Press Start 2P';">Dulceria</a></li>
            <li><a class="desplazar" href="#footer" style="font-family: 'Press Start 2P';">Nosotros</a></li>
            <li><a th:href="@{/promociones}" style="font-family: 'Press Start 2P';">Promociones</a></li>
            <li class="inicio-sesion"><a th:href="@{/login}"><i class="bi bi-person-fill"></i></a></li>
          </ul>
        </nav>
</div>