<div id="footer" class="footer" >
    <div class="grupo-1">
        <img src="/images/logo cine.png" alt="cine" width="350px">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/estilos_inicio.css">
        <link rel="stylesheet" href="/ccs/reset.css">
        <link rel="stylesheet" href="/ccs/style.css">

        <div class="box">
            <h2 style="font-family: 'Dela Gothic One';">SOBRE NOSOTROS</h2>

            <a href="#estd" style="color: white; font-family: 'Rowdies', sans-serif;">Contactanos</a>
            <br>
            <a th:href="@{/nosotros}" style="color: white; font-family: 'Rowdies', sans-serif;">Trabaja con Nosotros</a>
            <br>
            <a href="#estd" style="color: white; font-family: 'Rowdies', sans-serif;">Atención al cliente</a>
            <br>
            <a href="#estd" style="color: white; font-family: 'Rowdies', sans-serif;">Copia de entrada</a>
            <br>
            <a href="#estd" style="color: white; font-family: 'Rowdies', sans-serif;">Ver lista de productos permitidos</a>
            <br>
            <a href="#estd" style="color: white; font-family: 'Rowdies', sans-serif;">Politica SP4CEX®</a>

            <br>
            
    
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            
        <br>
        <a href="#" class="btn btn-4">
            <img src="/images/libro.png" alt="Libro de Reclamaciones" width="40" height="35">
            Libro de Reclamaciones
        </a>


                <!-- Enlace al archivo jQuery (puedes incluirlo en tu proyecto o usar una CDN) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
                <!-- Enlace al archivo Popper.js (puedes incluirlo en tu proyecto o usar una CDN) -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            
                <!-- Enlace al archivo JavaScript de Bootstrap (puedes incluirlo en tu proyecto o usar una CDN) -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            
<br/>
            
            
        </div>
        <div class="box">
            <h2 style="font-family: 'Dela Gothic One';">SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-twitter"></a>

            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>CINE SP4CEX®</b> - Todos los Derechos Reservados. </small>
    </div>
</div>