<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- start: Icons -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!-- start: Icons -->
        <!-- start: CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style1up.css">
        <link rel="stylesheet" href="/css/style2up.css">
        <!-- end: CSS -->
        <link rel="icon" href="/images/logo-cine.ico">
        <title>Cine</title>
    </head>

    <body>

        <!-- start: Sidebar -->
        <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
            <div class="d-flex align-items-center p-3">
                <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">Cine Sp4cex</a>
                <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
            </div>
            <ul class="sidebar-menu p-3 m-0 mb-0" >
                <li class="sidebar-menu-item active">
                    <a href="dashboard.html">
                        <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Menú</li>
                <li class="sidebar-menu-item has-dropdown">
                    <a href="#">
                        <i class="ri-pages-line sidebar-menu-item-icon"></i>
                        Personal
                        <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                    </a>
                    <ul class="sidebar-dropdown-menu">
                        <li class="sidebar-dropdown-menu-item">
                            <a href="/templates/usuario.html">
                                Usuarios
                            </a>
                        </li>
                        <li class="sidebar-dropdown-menu-item">
                            <a href="crudempleados.html">
                                Trabajadores
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item has-dropdown">
                    <a href="#">
                        <i class="ri-user-line sidebar-menu-item-icon"></i>
                        Funciones
                        <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                    </a>
                    <ul class="sidebar-dropdown-menu">
                        <li class="sidebar-dropdown-menu-item">
                            <a href="dulceria_admin.html">
                                Dulceria
                            </a>
                        </li>
                        <li class="sidebar-dropdown-menu-item">
                            <a href="promociones_admi.html">
                                Promociones
                            </a>
                        </li>
                        <li class="sidebar-dropdown-menu-item">
                            <a href="cartelera.html">
                                Cartelera
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-menu-item has-dropdown">
                    <a href="#">
                        <i class="ri-shopping-cart-2-line sidebar-menu-item-icon"></i>
                        Analisis
                        <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                    </a>
                    <ul class="sidebar-dropdown-menu">
                        <li class="sidebar-dropdown-menu-item has-dropdown">
                            <a href="#">
                                Ingresos
                                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                            </a>
                            <ul class="sidebar-dropdown-menu">
                                <li class="sidebar-dropdown-menu-item">
                                    <a href="/templates/IngresoDulceria.html">
                                        Ingreso Dulceria
                                    </a>
                                </li>

                                <li class="sidebar-dropdown-menu-item">
                                    <a href="/templates/IngresosEntradas.html">
                                        Ingreso Entradas
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown-menu-item">
                            <a href="/templates/RecursosHum.html">
                                Recursos Humanos
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-overlay"></div>
        <!-- end: Sidebar -->

        <!-- start: Main -->
        <main class="bg-light">
            <div class="p-2">
                <!-- start: Navbar -->
                <nav class="px-3 py-2 bg-white rounded shadow" >
                    <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
                    <h5 class="fw-bold mb-0 me-auto" >Ingresos de Peliculas</h5>
                    <div class="dropdown me-3 d-none d-sm-block">
                        <div class="cursor-pointer dropdown-toggle navbar-link" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="ri-notification-line"></i>
                        </div>
                        <div class="dropdown-menu fx-dropdown-menu">
                            <h5 class="p-3 bg-indigo text-light">Notification</h5>
                            <div class="list-group list-group-flush">
                                <a href="#"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-semibold">Productos</div>
                                        <span class="fs-7">Content for list item</span>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-semibold">Clientes</div>
                                        <span class="fs-7">Content for list item</span>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-semibold">Empleados</div>
                                        <span class="fs-7">Content for list item</span>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-semibold">Promociones</div>
                                        <span class="fs-7">Content for list item</span>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="me-2 d-none d-sm-block">John Doe</span>
                            <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                            <img class="navbar-profile-image"
                                src="/images/uwu.jpg"
                                alt="Image">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="login.html">Salir</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- end: Navbar -->

                <!-- start: Content -->
                <div class="container-input">
                    <input type="text" style="margin-left: 40px;"      id="miBarraDeBusqueda" placeholder="Search" name="text"
                        class="input">
                    <svg id="miIconoDeBusqueda"  style="margin-left: 45px;"   fill="#000000" width="17px" height="17px"
                        viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z"
                            fill-rule="evenodd"></path>
                    </svg>
                 </div>
    
                  <div class="container" style="margin-top: 30px;">
                        <table class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Portada</th>
                                    <th class="text-center">Pelicula</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Entradas Vendidas</th>
                                    <th class="text-center">Precio por Entrada</th>
                                    <th class="text-center">Total de Ingresos</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/icono fnaf.jpg" >
    
                                    <td class="text-center">Five Nights At Freddy's</td>
                                <td class="text-center">07-10-23</td>
                                <td class="text-center">150</td>
                                <td class="text-center">s/. 20.00</td>
                                <td class="text-center">s/. 3,000.00 </td>
                            </tr>                                
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/saw-x-portada.jpg" >
    
                                    <td class="text-center">Saw X: El juego del miedo</td>
                                <td class="text-center">07-10-23</td>
                                <td class="text-center">200</td>
                                <td class="text-center">s/. 20.00</td>
                                <td class="text-center">s/. 4,000.00 </td>
                            </tr>   
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/lamonja.jpg" >
    
                                    <td class="text-center">La Monja</td>
                                <td class="text-center">07-10-23</td>
                                <td class="text-center">200</td>
                                <td class="text-center">s/. 20.00</td>
                                <td class="text-center">s/. 4,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/oppenheimer.jpg" >
    
                                    <td class="text-center">Oppenheimer</td>
                                    <td class="text-center">07-10-23</td>
                                    <td class="text-center">250</td>
                                    <td class="text-center">s/. 30.00</td>
                                    <td class="text-center">s/. 7,550.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/barbie.png" >
    
                                    <td class="text-center">Barbie</td>
                                    <td class="text-center">07-10-23</td>
                                    <td class="text-center">300</td>
                                    <td class="text-center">s/. 30.00</td>
                                    <td class="text-center">s/. 9,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/Avatar.jpeg" >
    
                                    <td class="text-center">Avatar 2</td>
                                    <td class="text-center">07-10-23</td>
                            <td class="text-center">500</td>
                            <td class="text-center">s/. 30.00</td>
                            <td class="text-center">s/. 15,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">7</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/blue betle.jpeg" >
    
                                    <td class="text-center">Blue Beetle</td>
                                    <td class="text-center">07-10-23</td>
                            <td class="text-center">400</td>
                            <td class="text-center">s/. 15.00</td>
                            <td class="text-center">s/. 6,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">8</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/Mario-Bross.jpg" >
    
                                    <td class="text-center">Mario Bros Movie</td>
                                    <td class="text-center">07-10-23</td>
                            <td class="text-center">400</td>
                            <td class="text-center">s/. 15.00</td>
                            <td class="text-center">s/. 6,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">9</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/Elementos-Poster.jpg" >
    
                                    <td class="text-center">Elementos</td>
                                    <td class="text-center">07-10-23</td>
                            <td class="text-center">600</td>
                            <td class="text-center">s/. 20.00</td>
                            <td class="text-center">s/. 12,000.00 </td>
                            </tr>  
                            <tr>
                                <td class="text-center">10</td>
                                <td class="text-center">
                                    <img class="navbar-profile-image"   src="/images/Spiderman-across-the-spiderverse.jpg" >
    
                                    <td class="text-center">Spider-Man: A trávez del Spider-Verso</td>
                                    <td class="text-center">07-10-23</td>
                            <td class="text-center">1000</td>
                            <td class="text-center">s/. 20.00</td>
                            <td class="text-center">s/. 20,000.00 </td>
                            </tr>  
                            </tbody>
                        </table>
                       
                  </div>
                  <script>
                    $(document).ready(function() {
                      $("#miBarraDeBusqueda").on("keyup", function() {
                        var searchText = $(this).val().toLowerCase(); // Obtener el texto de búsqueda en minúsculas
                        $("table tr").each(function() {
                          var rowData = $(this).text().toLowerCase(); // Obtener el contenido de la fila en minúsculas
                          if (rowData.indexOf(searchText) === -1) {
                            $(this).hide(); // Ocultar la fila si no coincide con la búsqueda
                          } else {
                            $(this).show(); // Mostrar la fila si coincide con la búsqueda
                          }
                        });
                      });
                    });
                    </script>
                    
                </nav>





                <!-- end: Content -->
            </div>
        </main>
        <!-- end: Main -->

<!-- start: JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>

<!-- end: JS -->


    </body>
</html>
