<div id="menu-dashboard" class="menu-dashboard">

    <div class="top-menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <span>Cine</span>
        </div>
        <div class="toggle">
            <i class='bx bx-menu'></i>
        </div>
    </div>

    <br><br><br>

    <div class="menu">
        <div class="enlace">
            <i class="bx bx-grid-alt"></i>
            <a th:href="@{/dashboard}">
            <span>Dashboard</span></a>
        </div>

        
        <div class="enlace">
            <i class="bx bx-user"></i>
            <a th:href="@{/empleado}">
            <span>Empleados</span></a> 
        </div>

        <div class="enlace">
            <i class="bx bxs-cart-add"></i>
            <a th:href="@{/productos}"> 
            <span>Productos</span></a>
        </div>

        <div class="enlace">
            <i class="bx bx-user-plus"></i>
            <a th:href="@{/foro}"> 
            <span>Opiniones</span></a>
        </div>


        <div class="enlace">
            <i class="bi bi-gear"></i>
            <span>Configuración</span>
        </div>

        <div class="enlace">
            <i class="bi bi-box-arrow-left"></i>
            <a th:href="@{/}">
            <span>Salir</span></a>
        </div>

    </div>
</div>


